
<!DOCTYPE html>
<html lang="en">
  <head>

    
  </head>
  <body>
  
  <p class="back-to-home"> <a href="/"> Back to Home </a> </p> 

  <h1> Why I Love Economics </h1>

  <h5> <i> by </i> Marjuk Ahmad </h5>


  <div class="reading-body-width"> 

<p> 
I started out my undergrad journey studying economics. I still remember those joyous nights of reading Mankiw, learning Poker, dwelling in The Economist website, and day-dreaming about becoming next John Nash. I still remember that joy I felt when I learned the insight about human behavior that people respond to incentives. It makes so much sense. Such a great combination of beauty, truth, and elegance is wrapped within one principle.
</p>
<p> 
More than anything else, I loved how economics taught me how to think about life. For example, we face trade-offs: we can't have everything we want. That if we want something, we have to think about the price we want to pay for it. And the price of something is what we are willing to give up to get it. It can be time (e.g. investing in relationship). It can be hours of work that we put to reach that magical score to obtain admissions into our dream colleges.
</p>
<p> 
Perhaps, the most elegant among the economic principles to me is the one that says rational people think at margin. Margin means edge: that we always weigh in the benefit that we will get for one extra unit in exchange of the cost of that unit. For rational people, marginal cost-benefit analysis needs to make sense; otherwise, they shouldn't move forward with the decision.
</p>
<p> 
Don't we ask al the time that "is it worth it?" Exactly, here we employ the thinking at margin principle. It's really powerful if you get to apply it in most of your decision making processes. I hope I apply it more actively and more often. I hope you do it as well.
</p>
<p> 
Besides, sharing why I love economics, I want to make a small point. Much of what I write or am going to write occasionally is my attempt to produce more as I want to balance between my consumption diet and creation habit. I am hoping to write more, mostly summaries of readings that I do or my opinions of things that I read or think. I very much hope to receive feedback from you.
</p>



</div> 


 







  </body>
</html>

<style> 

body { 
    color: #3a3a3a;
    font-family: 'Gentium Book Basic', 'Palatino', Georgia, serif;
    font-size: 12pt;
    line-height: 160%;
    font-weight: 400;
    text-align: left;
} 

h1 { width: 45%;
     margin: auto;
     margin-top: 5%;
     }

h5{ width: 45%;
     margin: auto;
     margin-top: 1.5%;
 }

.reading-body-width { 
	width: 45%;
	margin: auto;
	margin-top: 4%;

}

.back-to-home { margin: 0 auto;
	            width: 45%;
                color: #3a3a3a;
                font-size: 9pt;
             }



</style>
