
<!DOCTYPE html>
<html lang="en">
  <head>

    
  </head>
  <body>
  
  <p class="back-to-home"> <a href="/"> Back to Home </a> </p> 

  <h1> The Day I Self-absorbed Unhappiness </h1>

  <h5> <i> by </i> Marjuk Ahmad </h5>


  <div class="reading-body-width"> 


<p> 
I am in Dhaka after two years. For four years, whenever I visit my hometown, I tell to myself that I want to feel the soul of the city. What has changed? How was it like when I grew up? Do I still get the city? Or have I lost the touch with it? This search of feeling is akin to finding that treasure that you hid at some corner in your grandpa's home, expecting that, to your amazement, you will find it many years later. For me, it was only relishing those awareness that I had about my beloved Dhaka.
</p>

<p> 
The appearance of the city hasn't changed much. It's still an embodiment of how humans can fantastically wreck a city. It's a prime example of what happens to a city when you let unregulated capitalism design your city. It's reeks of sewage water, talks in dust flow, and tires in humidity. it's a massive ordeal of fucked-up-ness.
( I ran out of words. I love this city as much as you do. I don't know any other way to explain it).
</p>

<p> 
We have messed up, both the generation before us and our generation. The generation before us lacked vision and missed what mayhem might have been waiting for us for their shortsightedness. Our generation is full of pretenders. We are desperate to portray ourselves cool with bunch of borrowed lines from movies, TV shows, books, and dramas. We are happy taking one or two dopamine snacks here and there in Facebook and Twitter.
We feel entitled to curse Dhaka and the fate it is experiencing without even realizing it was us all along who contributed to such gigantic mess. We failed at speaking up, taking initiatives, and following through what's needed to be done.
</p>

<p> 

In our culture, escapism is heroism. If you can leave the country, you have 'made' it: such a poor version of self-respect. It hits me in the head these days when some folks praise me or think that I am a success story because I have 'made' it to abroad to study. I feel sad for myself that I invoke such impressions in them. First, it's not the case. Second, even if it's the case, then it's pretty sad considering how much of low bar we set for ourselves.

</p>

<p> 

We should feel ashamed of our low ambitions. We should feel ashamed of our lack of courage to take on the biggest problems that our country faces. We should feel ashamed that we tend to reward ourselves with such lowly ambition (e.g. escaping the country and making it to be living abroad).
What an utter-disgrace and continued generations' failure!
</p> 

P.S. And that includes me. This post is written from as much from self-absorbed unhappiness as it from "well, I have these thoughts".



</div> 


 







  </body>
</html>

<style> 

body { 
    color: #3a3a3a;
    font-family: 'Gentium Book Basic', 'Palatino', Georgia, serif;
    font-size: 12pt;
    line-height: 160%;
    font-weight: 400;
    text-align: left;
} 

h1 { width: 45%;
     margin: auto;
     margin-top: 5%;
     }

h5{ width: 45%;
     margin: auto;
     margin-top: 1.5%;
 }

.reading-body-width { 
	width: 45%;
	margin: auto;
	margin-top: 4%;

}

.back-to-home { margin: 0 auto;
	            width: 45%;
                color: #3a3a3a;
                font-size: 9pt;
             }



</style>
