<!DOCTYPE html>
<html lang="en">
  <head>
  

  
    
  </head>
  <body>
  
  <p class="back-to-home"> <a href="/"> Back to Home </a> </p> 

  <h1> Ratio Thinking - An Appraoch to Life  </h1>

  <h5> <i> by </i> Marjuk Ahmad </h5>


  <div class="reading-body-width"> 

  <p> Just now I came across reading an <a href="http://joel.is/ratio-thinking/"> article </a> by Joel Gascoigne, the founder of Buffer. In this article, Joel discusses about how the ratio thinking shapes how he thinks, operates, and runs his business. It's an an interesting way to approach life. Ratio thinking is based on the "law of averages" as explained by entrepreneur and author Jim Rohn, who said:
  </p>

  <p> "If you do something often enough, you’ll get a ratio of results. Anyone can create this ratio." </p>

  <p> That means, if you want to increase achieving the number of your intended successes, you need to attempt more. More attempts, done with creative adjustments, will yield in more intended outcomes. For me, increasing my ratio means taking those chances that I am uncomfortable of taking: sending those emails that I fear of getting no response, asking for those helps that I feel will not be returned, and many more. The sooner we realize the power of ratio thinking, I believe the better are our chances for winning.
  </p>

  </div> 


 







  </body>
</html>

<style> 

body { 
    color: #3a3a3a;
    font-family: 'Gentium Book Basic', 'Palatino', Georgia, serif;
    font-size: 12pt;
    line-height: 160%;
    font-weight: 400;
    text-align: left;
} 

h1 { width: 45%;
     margin: auto;
     margin-top: 5%;
     }

h5{ width: 45%;
     margin: auto;
     margin-top: 1.5%;
 }

.reading-body-width { 
	width: 45%;
	margin: auto;
	margin-top: 4%;

}

.back-to-home { margin: 0 auto;
	            width: 45%;
                color: #3a3a3a;
                font-size: 9pt;
             }



</style>
