<!DOCTYPE html>
<html lang="en">
  <head>
  

  
    
  </head>
  <body>

  <h1> The Illusion of Creating a Masterpiece </h1>

  <h5> <i> by </i> Marjuk Ahmad </h5>


  <div class="reading-body-width"> 

  <p> Why do we write? Writing, in the simplest sense, implies that you want to say something. You want to communicate something that you feel is worth communicating; Without doing it, you feel that you are having an itch, and that itch is not going anywhere unless you say it. You put letters to make words, weaving them back and forth, to create sentences that make sense, that tell what you have been intending to tell, all along; Your ideas live since then. You give it a form. </p>

  <p> How do our ideas go on to live? We use canvases. We station our ideas in playgrounds that are shared, that can be accessed by others to read, like, dislike, enjoy, debate. Once the writing is done, we feel settled: the itching is gone. We get rid of the stranglehold of our words, feeling that we brought justice to the truth-- what we initially set out to say all along. In between all of the process, we feel anxious as to if we are making the right choices with words, tones, length, judgment, and details. We depict pictures into readers’ mind. We think about these pictures. We reread, reexamine, and reemploy our senses to determine whether our initial hunches about our message got reflected into what we wrote. </p>

  <p> We also worry about the medium where our writing lives on, as if we feel failing to choose the right medium will cost us the message. Our precious hunches might not be communicated well. We worry that our emotions will go unnoticed, our intentions will get misdirected, and our important little truths will be misinterpreted. </p>

  <p> In between the details of writing, the relationship dynamics between you, me, us, and them are complex. We want to make sure our writing reaches the right audience, helps them connect, and lets them reciprocate with us in some ways. For this reason, as writers, we sweat on the details, making sure our words don’t carry racial tone, employ judgments that might hurt the feelings of others, or simply, fail to tell the truth. We sweat over political correctness, religious interrelations, and the power dynamics that our writing contain. This ordeal takes a toll on us, putting our cognitive load to fullest. As writers, after all, we all want to be loved. We worry about instruments that might cost us love. It’s a scary line we want to walk on when we sit to write. </p>

  <p> Now, as it may happen to almost to many writers, that we set out to say initially, got never said. We find that our ability to employ words to tell the truth is not enough. There are plenty of rooms for errors. We may have employed wrong words, organized the critical pieces incoherently, rambled on unnecessarily, or simply, failed to deliver a punch line when it was due. </p>

  <p> Realizing that now we are stuck between we want to tell the truth and we devised the story sub-optimally , we debate whether we should publish it. What might be called as the great dilemma of being a writer. There are so many scopes for improvement, leaving us with a feeling that the difference between creating a great writing and creating a not-so-great writing is us. We are not impressed by us, considering our shortcomings to deal with lacking good sense, measured tones, and omission of bad words. </p>

  <p> We retreat back to inaction, believing in the lie that we were never set out to tell the story. All we had few hunches, the random itches of senses that mind produced when we thought we had something to say but we somehow ruined saying it. </p>

  <p> That I feel is the great tragedy of the commons: emotions, story clues, truths, and important hunches going unnoticed, unscratched, and lost in the vast deep ocean of sensory illusions. </p> 

  </div> 


 







  </body>
</html>

<style> 

body { 
    color: #3a3a3a;
    font-family: 'Gentium Book Basic', 'Palatino', Georgia, serif;
    font-size: 12pt;
    line-height: 160%;
    font-weight: 400;
    text-align: left;
} 

h1 { width: 45%;
     margin: auto;
     margin-top: 5%;
     }

h5{ width: 45%;
     margin: auto;
     margin-top: 1.5%;
 }

.reading-body-width { 
	width: 45%;
	margin: auto;
	margin-top: 4%;


}



</style>
