<!DOCTYPE html>
<html lang="en">
  <head>
     <% include partials/pages/head.ejs %>  


  
    
  </head>
  <body>
      <% include partials/pages/header.ejs %> 
          
      <% include partials/content/github.ejs %> 

      <% include partials/pages/jsdefaults.ejs %> 
    
  </body>
</html>

<style> 

body { 
    color: #3a3a3a;
    font-family: 'Gentium Book Basic', 'Palatino', Georgia, serif;
    font-weight: 300;
    text-align: left;
} 



</style>
