



<div class="content"> 





<p id="des-de"> I am a business student with interest in Finance and a penchant for building web projects. I am a recent product and data intern at Piazza Technologies Inc, a Palo Alto based startup. I am interested in finance, programming, statistics, design, product, and business strategy. I’m now working in few projects; if you’re curious, I can send you <a href="/update" class="updates"> updates. </a> </p> 

<h3 class="ongoing-projects"> A Few Done or Ongoing Projects </h3>

<ul> 

<li> <a href="http://marjuk.github.io/gandalf/"> Gandalf, </a>a journey through productivity advice via clicks. </li>
<li> <a href="http://ryte.club"> Ryte Club, </a> a collaborative story telling platform. </li>
<li> <a href="http://graffititen.com/"> Graffiti Ten, </a> a personalized web journal. </li> 

</ul>

<h3 class="ongoing-projects"> Few of My Blog Posts </h3>

<ul> 

<li> <a href="/blogs/writing"> The Illusion of Creating a Masterpiece, </a> my take on why writing is hard. </li>
<li> <a href="/blogs/ratio"> The Power of Ratio Thinking, </a> an approach to how I think. </li>


</ul>
</div> 

<style> 

ul a, .updates  { color: #CE3816;
    text-decoration: none; } 
    
    p#des-de { margin-top: -10%;
    font-size: 1em; } 

        
        
.content {
    
    width: 75%;
    padding-top: 0% 3%; 
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
}

.ongoing-projects { 
    
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 800; 
}




</style>