
<div class="content-summer"> 

<h3 class="title-stanford"> Product and Data Intern at Piazza Technologies Inc., Palo Alto, CA  </h3>
 


<p id="stanford-de-des">
After Stanford, I was a product and data intern at Piazza Technologies Inc., a startup based in Palo ALto, CA, from August 2015 to December 2015. Piazza is connecting 1.25 million students from over 1000 colleges campuses who are using Piazza Q&A for class discussion with access to top tech companies. </p>
<p> I worked closely with the product and data team where my role specifically involved to clean up the Piazza user-input data that were ambiguous, messy, and incomplete. Once the data were cleaned, they were incorporated into Piazza search product, which top technology companies is Silicon Valley use to find talents for their companies. 
</p>



</div> 

<style> 

 a   { color: #CE3816;
    text-decoration: none; } 
    
    p#stanford-de-des { margin-top: 0%; } 
    

        
        
.content-summer {
    
    width: 60%;
    padding: 0% 3%;
    text-align: left;
    margin-left: 17%;
}

 .title-stanford { 
    
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: 800;

    
}

.date-internship {
 
 float: right;
 
}



</style>